<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <title>RUARAL NEWS BR</title>
    <meta name="ruaral news brasil - levando informação ao campo" content="notícias, agropecuária, campo, zona rural, agronegócio, vida no campo">
    <link rel="stylesheet" type="text/css" href="css-1/estiloHeader.css"/>
    <link rel="stylesheet" type="text/css" href="css-1/estiloRodape.css"/>
    <link rel="stylesheet" type="text/css" href="css-1/estilo-pagina-artigos-secao-artigos.css"/>
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/all.min.css">
</head>
<body>
    <div class="interface-artigos">
        <header id="cabecalho">
                <a href="http://localhost:3000/"><img id="logo" src="/imagens/loguinha.png" alt="agroecologia, campo, IFRN, IFRN - Ipanguaçu, notícias"/></a>
            <nav id="navmenu">
                <ul class="menu">
                    <li class="btn-menu"><a href="http://localhost:3000/">HOME</a></li>
                    <li class="btn-menu"><a href="http://localhost:3000/artigos">ARTIGOS</a></li>
                    <li class="btn-menu"><a href="http://localhost:3000/#comunidade">COMUNIDADE</a></li>
                    <li class="btn-menu"><a href="http://localhost:3000/#sobre">SOBRE NÓS</a></li>
                </ul>
            </nav>
        </header>
        <section class="corpo-pagina-artigos">
            <main class="secao-artigos">
                <ul class="secao-lista-de-artigos">
                    <li class="item-lista-de-artigos">
                        <img class="img-da-previa">
                        <div class="previa">
                            <h1>Ainda Não postamos nenhum artigo.</h1>
                            <p>Quando postarmos você poderá ver todos eles nesta pagina</p>
                        </div>
                    </li>
                </ul>
            </main>
            <aside class="barra-de-previsao">
                <h1>barra-de-previsão</h1>
            </aside>
        </section>
        <footer class="rodape">
            <header class="header-footer">
                <ul class="icones-rede-sociais">
                    <li class="fab fa-facebook-square"> Facebook</li>
                    <li class="fab fa-twitter-square"> Twiter</li>
                    <li class="fab fa-instagram"><a> Instagram</a></li>
                </ul>
                <h4>Você pode escrever um artigo e publicalo no RNBR!</h4>
            </header>
            <div class="logo-footer">
                    <img src="/imagens/loguinha.png" alt="agroecologia, campo, IFRN, IFRN - Ipanguaçu, notícias" style="width: 150px; height: 200px;">
            </div>
            <div class="redes-sociais">    
                <p>Seguindo nossas redes sociais você nos ajuda disseminar nossas notícias e artigos, além de poder interagir conosco e nos transmitir um feedback mais direto.</p>
            </div>
            <div class="artigo-voluntario">
                <p>Que tal colaborar com o nosso projeto? Escreva o seu artigo e envie para nosso email de contato <em>ruralnewsbr@gmail.com</em>. O seu artigo será avaliado pelos professores responaveis pelo RNBR, e se aprovado será publicado aqui. Você será informado sobre a situação do seu artigo.</p>
            </div>
        </footer>
    </div>
</body>
</html>