<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>RUARAL NEWS BR</title>
    <meta name="ruaral news brasil - levando informação ao campo" content="notícias, agropecuária, campo, zona rural, agronegócio, vida no campo">
    <link rel="stylesheet" type="text/css" href="/css/estiloHeader.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estiloHome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estiloArtigosPI.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estiloComunidade.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estiloSobreNos.css"/>
    <link rel="stylesheet" type="text/css" href="/css/estiloRodape.css"/>
    <link rel="stylesheet" href="/css/previsao.css">
    <link rel="stylesheet" type="text/css" href="/fontawesome-free-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>

    


</head>
<body>

  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>

  <div class="interface">
      <header id="cabecalho">

          <a href="https://rural.herokuapp.com/"><img id="logo" src="/imagens/loguinha.png" alt="agroecologia, campo, IFRN, IFRN - Ipanguaçu, notícias"/></a>
          
          <nav id="navmenu">
              <ul class="menu">
                  <li class="btn-menu"><a href="https://rural.herokuapp.com/">HOME</a></li>
                    <li class="btn-menu"><a href="https://rural.herokuapp.com/#artigos">ARTIGOS</a></li>
                    <li class="btn-menu"><a href="https://rural.herokuapp.com/#comunidade">COMUNIDADE</a</li>
                    <li class="btn-menu"><a href="https://rural.herokuapp.com/#sobre">SOBRE NÓS</a></li>
              </ul>
          </nav>
      </header>
      <div class="content-tempo">
          
          <div class="dropdown">
              <button style="background-color: rgba(12, 136, 12, 0.705);" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selecione a cidade
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href wm-link="tempo-natal.html" wm-destino=".div-tempo">Natal</a>
                <a class="dropdown-item" >Caicó</a>
                <a class="dropdown-item" href wm-link="/public/tempo-assu.html" wm-destino=".div-tempo">Assú</a>
                <a class="dropdown-item" id="435701" onclick="">Ipanguaçu</a>
              </div>

              
              <!-- DADOS DO TEMPO-->

              <div class="div-tempo"></div>

              <script>
                  function navegarViaAjax(url, seletor) {
                    if(!url || !seletor) return
                    const elemento = document.querySelector(seletor)
  
                    fetch(url)
                        .then(resp => resp.text())
                        .then(html => {
                          elemento.innerHTML = html
                        })
                  }
  
                  document.querySelectorAll('[wm-link]').forEach(link => {
                    let url = link.attributes['wm-link'].value
                    const seletorDestino = link.attributes['wm-destino'].value
  
                    link.onclick = e => {
                      e.preventDefault()
                      navegarViaAjax(url, seletorDestino)
                    }
                  })
                </script>


            </div>
      </div>
  </div>
</body>
</html>