#sobre{
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "sobre-header sobre-header sobre-header" 
                         "sobre-main sobre-equipe sobre-equipe";
}
.sobre-header{
    grid-area: sobre-header;
    padding-left: 20px;
    color: white;
    background-color: rgba(12, 136, 12, 0.705);
}
.sobre-main{
    grid-area: sobre-main;
    padding: 0px;
    border-right: 1px solid rgba(12, 136, 12, 0.705);
    border-bottom: 1px solid rgba(12, 136, 12, 0.705);
}

.sobre-main p{
    padding: 10px;
    width: auto;
    text-align: justify;
}

.sobre-equipe{
    grid-area: sobre-equipe;
    display: grid;
    grid-template-areas: "sobre-equipe-header sobre-equipe-header sobre-equipe-header sobre-equipe-header"
                         "geraldo daniel melissa marcio"
                         "ana nay renan paulo";
    border-bottom: 1px solid rgba(12, 136, 12, 0.705);
}

.sobre-equipe-header{
    grid-area: sobre-equipe-header;
    background-color: rgba(12, 136, 12, 0.705);
    color: white;
    text-align: center;
    width: auto;
    padding: 5px;
    margin: 0%;
}
.sobre-equipe figure{
    padding: 0px;
    margin: 0px;
}
.sobre-equipe figcaption{
    text-align: center;
    display: block;
    /* width: 99%; */
    top:0px;
    height: 98%;
    color: transparent;
    position: absolute;
    transition: background-color 0.5s;
}
.sobre-equipe figcaption h4{
    position: relative;
    top:40%;
}
.sobre-equipe figcaption h5{
    position: relative;
    padding-left: 5px;
    top: 30%;
}
.sobre-equipe figcaption:hover{
    /*background-color: rgba(0, 0, 0, 0.3);*/
    color: white;
}
.geraldo{ grid-area: geraldo; position: relative;}
.daniel{ grid-area: daniel; position: relative;}
.melissa{ grid-area: melissa; position: relative;}
.marcio{ grid-area: marcio; position: relative;}
.ana{ grid-area: ana; position: relative;}
.nay{ grid-area: nay; position: relative;}
.renan{ grid-area: renan; position: relative;}
.paulo{ grid-area: paulo; position: relative;}

@media screen and (max-width: 700px){
     #sobre{ grid-template-areas: "sobre-header" "sobre-main" "sobre-equipe";}
     .sobre-header{ grid-area: sobre-header;}
     .sobre-main{ grid-area: sobre-main; border-right: none;}
     .sobre-equipe{ 
         grid-area: sobre-equipe;
         grid-template-areas:"sobre-equipe-header sobre-equipe-header"
                             "geraldo daniel" "melissa marcio"
                             "ana nay" "renan paulo";}
     }