#artigos h2{
    height: 10%;
    color: white;
    background-color: rgba(12, 136, 12, 0.705);
    text-align: center;
}
#butaoMaisArtigos{
    text-align: center; 
}
#butaoMaisArtigos a{
    text-decoration: none;
}
