@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
    margin: 0%;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
#interface{
    background-color: rgb(255,255,252);
}
